<mat-toolbar color="primary">

  
    <a [routerLink]="['/']" class="aClass">
      <h1>Online Store</h1>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
    
    </mat-toolbar>




    <section fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card fxFlex="500px" fxFlex.xs="50%">
            <mat-card-title>Place your order</mat-card-title>
            <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="createOwner(ownerForm.value)" fxLayout="column wrap"
                  fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-card-content>

                  <p> 
                      <mat-form-field appearance="legacy"   [floatLabel]="'auto'" >
                        <mat-label >Enter your name:</mat-label>
                        <input formControlName="name" matInput placeholder="Your name" required>
                        <mat-icon matSuffix>person_outline</mat-icon>
                        <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                        <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
                      </mat-form-field>
                    </p>
                  <p>
                    <mat-form-field appearance="legacy">
                        <mat-label >Email Address:</mat-label>
                        <input formControlName="emailId" matInput placeholder="Enter your email"  required>
                        <mat-icon matSuffix>mail_outline</mat-icon>
                        <mat-hint align="end">Input the fully qualified email address</mat-hint>
                        <mat-error *ngIf="getErrorMessage()">Email id is required.</mat-error>
                      </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="legacy">
                      <mat-label >Phone Number:</mat-label>
                      <input formControlName="phoneNumber" matInput placeholder="Your Phone" required>
                      <mat-icon matSuffix>phone</mat-icon>
                      <mat-hint align="end">Your 10 digit phone number</mat-hint>
                      <mat-error *ngIf="hasError('phoneNumber', 'required')">Phone number is required</mat-error>
                      <mat-error *ngIf="hasError('address', 'maxlength')">You have more than 10 characters</mat-error>
                    </mat-form-field>
                  </p>

                <p>
                  <mat-form-field>
                      <textarea formControlName="address"  matInput placeholder="Address Details"></textarea>
                      <mat-icon matSuffix>home</mat-icon>
                    <mat-hint align="end">Not more then 100 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
                    <mat-error *ngIf="hasError('address', 'maxlength')">You have more than 100 characters</mat-error>
                  </mat-form-field>
                </p>   
              </mat-card-content>

              <mat-card-actions align="center">
                  <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">Place Order</button>
                  <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
                </mat-card-actions>
          </form>
          </mat-card>
      </section>
    




<!-- (click)="openDialog()
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm">

Please enter the delivery details of the your order. It will be deliver in single working day at your place.
</p>





<p>
    <mat-form-field class="example-full-width" appearance="legacy">
        <textarea formControlName="address"  matInput placeholder="Address Details"></textarea>
        <mat-icon matSuffix>home</mat-icon>
        <mat-hint>Enter full address details</mat-hint>
      </mat-form-field>
</p>

<button type="submit" [disabled]="myForm.invalid" mat-button matStepperNext>Go to next step</button>

</form>
-->